@import './base.css';
.header {
  background-color: black;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: black;}
  
.header_fav {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-top: 1.5%;
}

.search {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../src/assets/img/search_bgrd.jpg");
  background-position: 30%;
  background-size: cover;
  height: 268px;
  
}

.search_form {
  display: flex;
  justify-content: center;
  padding-top: 7%;
}

.search_input {
  height: 70px;
  border: none;
  width: 40%;
  padding-left: 20px;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;

}
::placeholder {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  opacity: 1;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  border: none;
}

.results {
  background-color: white;
  padding-top: 100px;
}

.results_container {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.results_img {
  max-width: 100%;
  object-fit: cover;
  height: 440px;
  aspect-ratio: 4/3;
  border-radius: 8px;
  cursor: pointer;

}

.random {
  background-color: white;
  padding-top: 100px;
}

.random_container {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  padding-bottom: 50px;
}

.random_img {
  max-width: 100%;
  object-fit: cover;
  height: 440px;
  aspect-ratio: 4/3;
  border-radius: 8px;
  cursor: pointer;

}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
  padding: 16.5px;
  cursor: pointer;  
}